Repository murar8/personal-server: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc.json:

{
    "*.{js,ts,json,md}": "prettier --write",
    "*.{js,ts}": "eslint --cache --fix"
}

dont use eslint cache
  .lintstagedrc.json
Due: prettier --write

initial implementation
  .github/workflows/deploy.yaml
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  Pulumi.main.yaml
  index.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix

fix repo url
  package.json
Due: prettier --write

fix ci repo
  .github/workflows/deploy.yaml
Due: none

enable resource manager
  index.ts
Due: prettier --write, eslint --cache --fix

fix naming
  index.ts
Due: prettier --write, eslint --cache --fix

implement billing limit
  .eslintrc.js
  .github/workflows/deploy.yaml
  .vscode/settings.json
  Pulumi.main.yaml
  index.ts
  package-lock.json
  package.json
  services/billing-limit/budget.ts
  services/billing-limit/callback.ts
  services/billing-limit/index.ts
  services/server.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix
